<div class="page-container">
  <div class="header">
    <ul>
      <li>Головна</li>
      <li>Валюта</li>
      <li>Форма оренди</li>
    </ul>
  </div>
  <div class="info-box">
    <div class="info-content">
      <h4>Про нас</h4>
      <span>
        Агентство нерухомості «Orenda-dom» - інформаційні послуги в напрямі продаж та оренда,
        в т.ч. подобово, обмін, купівля житлової нерухомості - квартири, особняки, житлові будинки,
        котеджі - первинний і вторинний ринки; комерційної нерухомості - гіпермаркети, торгові центри,
        магазини, мінімаркети, ресторани, кафе, бари, офіси, розважальні заклади, оптові бази і т.п.;
        виробничої нерухомості - цілісні майнові комплекси, готовий бізнес, окремі цехи, склади, АПК і т.д.;
        земельних ділянок - під будівництво гіпермаркетів від 1 до 10 га, торгових центрів, виробничих підприємств,
        житлових багатоповерхових будинків, житлових приватних будинків, котеджів.
        Малі та великі інвестиційні проекти. Експертна оцінка. Супровід при оформленні договору купівлі-продажу,
        оформленні кредиту і т.ін. Комісію нам платять власники нерухомості по ексклюзивним договорам.
        Для покупців в нас є варіанти на любий смак та ціновий діапазон
      </span>
    </div>
  </div>
  <div class="mall-slide">
    <div class="slid-content">
      <div class="mall-show-slide fade" *ngFor="let item of Imagedata;">
        <img src="{{item}}" style="width:100%">
      </div>
      <div class="mall-carousel-ind">
        <ul>
          <li *ngFor="let item of Imagedata; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
